/* Wrapper Style Code  */
$main-color1: #13c7a3;
$main-color2: #0078ff;
$sub-color1: #8933ff;
$sub-color2: #bd5ed9;
$bg-color: #ebecf0;
$click-color: #fefefe;
@mixin hover-sd {
  box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #fff;
}
@mixin box-sd {
  box-shadow: 5px 5px 12px #babecc, -5px -5px 12px #fff;
}
@mixin box-inset {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

@font-face {
  font-family: "todo-logo-for-lecture";
  src: url("/schedule/font/todo-logo-for-lecture-Regular.eot")
      format("embedded-opentype"),
    url("/schedule/font/todo-logo-for-lecture-Regular.woff2") format("woff2"),
    url("/schedule/font/todo-logo-for-lecture-Regular.woff") format("woff"),
    url("/schedule/font/todo-logo-for-lecture-Regular.ttf") format("truetype");
}
.custom-font {
  display: inline-block;
  font-family: todo-logo-for-lecture;
  font-size: 50px;
  _line-height: 1;
  text-rendering: auto;
  font-style: normal;
  font-weight: normal;
}

.logo:before {
  content: "\0530";
  font-size: 60px;
  -webkit-font-smoothing: antialiased;
}
.logo2:before {
  content: "\0532";
}
/* .custom-font:before {
  content: "\0532";
} */

.fa-database {
  color: $main-color1;
}
.fa-thermometer-half {
  color: $main-color2;
}
.fa-clone {
  color: $sub-color1;
}
.fa-bar-chart-o {
  color: $sub-color2;
}

/* {r: 19, g: 199, b: 163},
        {r: 0, g: 120, b: 255},
        {r: 137, g: 51, b: 255},
        {r: 189, g: 94, b: 217} */

.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      135deg,
      rgba(19, 199, 163, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      45deg,
      rgba(137, 51, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      225deg,
      rgba(0, 120, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      315deg,
      rgba(189, 94, 217, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 796px;

  .active {
    width: 100%;
    height: 100vh;
    background: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 796px;
  }
}

/* Main Contents Box Style Code */
.dashboard {
  width: 90%;
  max-width: 1280px;
  height: 90%;
  /* background: linear-gradient(
    0deg,
    F0EEEF 0%,
    rgba(253, 247, 249, 1) 100%
  ); */
  background: $bg-color;
  box-shadow: 0 0 128px 0 rgb(0 0 0 / 10%), 0 32px 64px -48px rgb(0 0 0 / 60%);
  border-radius: 30px;
  display: flex;
  padding: 12px;
  justify-content: space-between;
}
.dashboard > * {
  border-radius: 20px;
}

/* Header Contents Style Code */
header {
  width: 7%;
  height: 100%;
  background: linear-gradient(0deg, #13c7a3 0%, #0078ff 100%);
  _background: F0EEEF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  position: relative;
  @include box-sd();
  border: 8px solid #eee;
  border-radius: 20px;
  transition: all 0.3s;

  &:hover {
    @include hover-sd();
  }

  h2 {
    width: 30px;
    height: auto;

    img {
      width: 100%;
    }
  }

  a {
    display: block;
    color: #fff;
  }

  .gnb {
    width: 100%;
    a {
      width: 100%;
      padding: 15px 0;
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .sign-out {
    font-size: 20px;
  }
  #btn {
    width: 34px;
    height: 60px;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    background: #ebecf0;
    box-shadow: inset 1px 1px 2px #babecc;
    &:hover span {
      transform: scale(0.8, 0.8);
      &.active {
        top: 18px;
      }
    }
    > span {
      _content: "";
      display: block;
      width: 26px;
      height: 26px;
      background: #13c7a3;
      border-radius: 14px;
      margin-left: 50%;
      margin-top: 50%;
      top: 2px;
      left: -13px;
      position: relative;
      transition: all 0.4s;
    }
  }
}

/* Mobile Menu Icon Style code  */
.mobile-menu {
  display: none;
  width: 25px;
  height: 25px;
  position: relative;
  transition: all 0.3s;

  span {
    display: block;
    background: #fff;
    position: absolute;
    &:nth-child(1) {
      width: 100%;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(2) {
      width: 2px;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &.active {
    transform: rotate(135deg);
  }
}

/* Main Page Graph-ui Contents Style Code */
.graph-ui {
  width: calc(58% - 28px);
  height: 100%;
  > div {
    width: 100%;
    height: 33.33%;
    border-radius: 20px;
  }
  div {
    &.intro {
      height: 100% !important;
      background-size: cover;
      color: #fff;
      position: relative;
      overflow: hidden;
      .slide-box {
        padding: 40px 55px;
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 20px;
        .graph-ui div.intro .slide-box:nth-child(1) {
          /* background: #f1c3ff; */
          background: url(/schedule/img/bg1.svg) no-repeat center center;
          background-size: cover;
        }
        .graph-ui div.intro .slide-box:nth-child(2) {
          background: url(/schedule/img/bg2.svg) no-repeat center center;
          background-size: cover;
        }
        .graph-ui div.intro .slide-box:nth-child(3) {
          background: url(/schedule/img/bg3.svg) no-repeat center center;
          background-size: cover;
        }
        .graph-ui div.intro .slide-box:nth-child(4) {
          background: url(/schedule/img/bg4.svg) no-repeat center center;
          background-size: cover;
        }
        &.active h2 {
          animation: fade-up-01 0.5s 1;
          animation-fill-mode: forwards;
          animation-delay: 0.3s;
        }
        &.active p {
          animation: fade-up-01 0.5s 1;
          animation-fill-mode: forwards;
          animation-delay: 0.8s;
        }
        &.active a {
          animation: fade-up-01 0.5s 1;
          animation-fill-mode: forwards;
          animation-delay: 1.3s;
        }
      }
      // @for $i from 1 to 5 {
      //   &:nth-child($i) {
      //     background: url(/schedule/img/bg#{$i}.svg) no-repeat center center;
      //     background-size: cover;
      //   }
      // }
      h2 {
        font-size: 28px;
        text-transform: uppercase;
        _font-weight: 700;
        transform: translateY(25px);
        opacity: 0;
      }
      p {
        _font-size: 16px;
        _font-weight: 400;
        transform: translateY(25px);
        opacity: 0;
      }
      a {
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        padding: 7px 0;
        margin-top: 10px;
        width: 100px;
        transition: all 0.3s;
        font-size: 12px;
        transform: translateY(25px);
        opacity: 0;
        &:hover {
          color: #13c7a3;
          background: #fff;
        }
      }
      i {
        position: absolute;
        font-size: 150px;
        right: -20px;
        top: -5px;
        _opacity: 0.3;
        color: #ebecf0;
      }
    }
    &.each-pofol {
      padding: 20px 0;
      _border: 0;
      div {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }
  }
  .each-pofol {
    .each-title {
      width: 100%;
      height: 25%;
      h3 {
        font-weight: 400;
        color: #666;
      }
    }
    .each-graph {
      width: 100%;
      height: 75%;
      display: flex;
      justify-content: space-between;
      div {
        height: 100%;
        _border: 1px solid #f7f7f7;
        border-radius: 20px;
        @include box-inset();
        _box-shadow: 0px 0px 3px #babecc;
        background: $bg-color;
        width: calc(25% - 10.5px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        transition: all 0.3s;
        b {
          margin-top: 10px;
          font-size: 12px;
          font-weight: 400;
        }
        i {
          position: absolute;
          font-size: 45px;
          opacity: 0.1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: none;
          color: $main-color1;
          &.fa-database {
            color: $main-color1;
          }
          &.fa-thermometer-half {
            color: $main-color2;
          }
          &.fa-clone {
            color: $sub-color1;
          }
          &.fa-bar-chart-o {
            color: $sub-color2;
          }
        }
        &.total-pofol {
          @include box-inset();
          background: $bg-color;
          display: flex;
          transition: all 0.3s;
          > div {
            height: 100%;
            &.total-chart {
              width: 40%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              .chart {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                canvas {
                  width: auto !important;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
              .percent {
                line-height: 0;
                font-size: 22px;
                font-weight: 600;
                color: $main-color1;
              }
              h3 {
                font-weight: 300;
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
  }
}

div.total-txt {
  width: 60%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 0 0 5px 0;
    color: #555;
    border-bottom: 1px solid #babecc;
  }
  p {
    font-weight: 300;
    font-size: 16px;
    padding: 10px 0;
  }
  button {
    border: none;
    background: $bg-color;
    padding: 10px 0px;
    border-radius: 25px;
    width: 150px;
    @include box-sd();
    transition: all 0.3s;
    &:hover {
      @include hover-sd();
    }
    &:active {
      background: #fefefe;
      @include box-inset();
    }
  }
}

/* Table-ui Contents Style Code */
.table-ui {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > div {
    width: 100%;
    height: calc(50% - 8.5px);
    border-radius: 20px;
    @include box-inset();
    background: #ebecf0;
    padding: 30px 20px;
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .tit-box,
  each-btns {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #babecc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }
  .tit-box {
    p {
      font-size: 18px;
      font-weight: 400;
      color: #666;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .con-details {
    margin-top: 5px;
    li {
      display: flex;
      padding: 5px 0;
      align-items: center;
      i {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 20px;
        margin-right: 10px;
        @include hover-sd();
      }
    }
  }
  .con-txt {
    p {
      color: #333;
      line-height: 1.4;
      &:hover {
        text-decoration: underline;
      }
    }
    em {
      font-style: normal;
      font-size: 12px;
    }
  }
  .each-contents .each-btns button {
    width: calc(25% - 5px);
    display: block;
    background: $bg-color;
    color: #888;
    padding: 10px 0;
    font-weight: 400;
    border: none;
    border-radius: 20px;
    @include box-sd();
    text-align: center;
    transition: all 0.4s;
    &:hover {
      @include hover-sd();
    }
    &:active {
      background: $click-color;
      @include box-inset();
      border: none;
    }
  }
  .title-box {
    width: 100%;
    height: auto;
    h3 {
      font-size: 20px;
      font-weight: 400;
      padding-bottom: 10px;
      color: #333;
      border-bottom: 1px solid #babecc;
      margin-bottom: 10px;
    }
  }
  > div.input-box {
    width: 100%;
    height: calc(66.66% - 12px);
    border-radius: 15px;
    @include box-inset();
    background: $bg-color;
    display: flex;
    margin-top: 12px;
    flex-direction: column;
    padding: 20px;
    .input-tit {
      display: flex;
      justify-content: space-between;
      input {
        width: calc(65% - 12px);
        padding: 15px;
        border: none;
        border-radius: 25px;
        @include box-sd();
        background: $bg-color;
        transition: all 0.3s;
        &:hover {
          @include hover-sd();
        }
        &:focus {
          background: $click-color;
          @include box-inset();
        }
      }
      select {
        width: 35%;
        border: none;
        outline: 0;
        padding: 10px 15px;
        border-radius: 20px;
        background: #ebecf0;
        @include box-sd();
        color: #333;
        transition: all 0.3s;
        &:hover {
          @include hover-sd();
        }
        &:focus {
          background: $click-color;
          @include box-inset();
        }
      }
    }
  }
  .input-con textarea {
    width: 100%;
    border: none;
    outline: 0;
    padding: 20px;
    height: 250px;
    border-radius: 20px;
    margin-top: 12px;
    resize: none;
    color: #333;
    background: $bg-color;
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    @include box-sd();
    transition: all 0.3s;
    &:hover {
      @include hover-sd();
    }
    &:focus {
      @include box-inset();
      background: $click-color;
    }
  }
  btns {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 12px;
    button,
    #updateBtn {
      outline: 0;
      border: none;
      border-radius: 20px;
      background: $bg-color;
      @include hover-sd();
      color: #333;
      padding: 10px 25px;
      transition: all 0.3s;
    }
    button:hover {
      color: #fff;
      font-weight: bold;
      background: #0078ff;
      box-shadow: inset 1px 1px 2px #0059ff, inset -1px -1px 2px #0099ff;
    }
  }
}

/* ----------------------------  */
/* 3. 모달 박스 css 작성 => index.js 135번줄 */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255, 250, 250, 0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fafafa;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 25px;
  border-radius: 20px;
  box-shadow: inset 1px 1px 2px #fff, inset 1px 1px 2px #babecc,
    0px 10px 20px #babecc;
  border: 6px solid #fff;
  width: 40%; /* Could be more or less, depending on screen size */
  _height: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  .rate-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    p {
      width: auto;
      height: calc(25% - 5px);
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      label {
        padding: 14px 10px;
        display: flex;
        justify-content: center;
        width: 65%;
        color: #333;
        background: #fafafa;
        box-shadow: 3px 3px 4px #ededed, 3px 3px 4px #999, 3px 3px 4px #babecc;
        border-radius: 22px;
        _border: 1px solid #ccc;
        align-items: center;
      }
      input {
        border: 1px solid #ccc;
        padding-left: 15px;
        outline: 0;
        border-radius: 22px;
        background: #fff;
        box-shadow: inset 2px 2px 5px #babecc, inset 2px 2px 5px #fff,
          3px 3px 4px #fff, 3px 3px 6px #babecc;
        width: calc(35% - 12px);
        &:focus {
          border: 1px solid $main-color1;
        }
      }
    }
  }
}

#updateBtn {
  display: block;
  margin: 15px auto 0;
  border-radius: 20px;
}

/* Deail Page Style Code  */
.graph-ui.detail {
  width: calc(93% - 20px);
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  .total-pofol {
    height: 40%;
    width: calc(60% - 10px);
  }
  .each-pofol {
    height: 40%;
    width: 40%;
    padding: 0;
    .each-graph {
      flex-wrap: wrap;
      height: 100%;
      align-content: space-between;
      div {
        height: calc(50% - 5px);
        width: calc(50% - 5px);
        b {
          display: none;
        }
        i {
          display: block;
        }
      }
    }
  }
  .detail-board {
    width: 100%;
    height: calc(60% - 10px);
    background: $bg-color;
    _border: 1px solid #f7f7f7;
    @include box-inset();
    padding: 30px 20px;
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .board-btns {
      width: 100%;
      height: auto;
      display: flex;
      a {
        border: none;
        background: $bg-color;
        padding: 10px 0px;
        margin-right: 8px;
        border-radius: 25px;
        width: 150px;
        @include box-sd();
        transition: all 0.3s;
        text-align: center;
        &:hover {
          @include box-sd();
        }
      }
    }
  }
}

.board-table {
  width: 100%;
  height: auto;
  margin: 10px 0;
  ul {
    width: 100%;
    height: auto;
  }
  li {
    width: 100%;
    text-align: center;
    display: flex;
    &.board-title span {
      background: $main-color1;
      color: #fff;
      border: 1px solid #fff;
      padding: 5px 0;
    }
    &.board-contents {
      border-bottom: 1px solid #f0f0f0;
      span {
        color: #555;
        padding: 5px 10px;
        &:hover {
          text-decoration: underline;
        }
        a.del-btn {
          border: none;
          background: $main-color1;
          color: #fff;
          padding: 3px 10px;
          font-size: 12px;
        }
      }
      button {
        border: none;
        background: $main-color1;
        color: #fff;
        padding: 5px 10px;
        font-size: 12px;
      }
    }
    span {
      padding: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.board-table li span:nth-child(1) {
  width: 10%;
}
.board-table li span:nth-child(2) {
  width: 20%;
}
.board-table li span:nth-child(3) {
  width: 40%;
}
.board-table li span:nth-child(4) {
  width: 20%;
}
.board-table li span:nth-child(5) {
  width: 10%;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 20px auto;
  width: 35px;
  height: 35px;
  _border: 1px solid #aaa;
  box-shadow: 6px 6px 12px #babecc, 6px 6px 12px #fff;
  border-radius: 18px;
  _margin-bottom: 20px;
  &:hover,
  &:focus {
    _border: 1px solid #333;
    box-shadow: 2px 2px 5px #babecc, 2px 2px 5px #fff;
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
}
