/* Wrapper Style Code  */

@font-face {
  font-family: "todo-logo-for-lecture";
  src: url("/schedule/font/todo-logo-for-lecture-Regular.eot")
      format("embedded-opentype"),
    url("/schedule/font/todo-logo-for-lecture-Regular.woff2") format("woff2"),
    url("/schedule/font/todo-logo-for-lecture-Regular.woff") format("woff"),
    url("/schedule/font/todo-logo-for-lecture-Regular.ttf") format("truetype");
}
.custom-font {
  display: inline-block;
  font-family: todo-logo-for-lecture;
  font-size: 50px;
  _line-height: 1;
  text-rendering: auto;
  font-style: normal;
  font-weight: normal;
}

.logo:before {
  content: "\0530";
  font-size: 60px;
  -webkit-font-smoothing: antialiased;
}
.logo2:before {
  content: "\0532";
}
/* .custom-font:before {
  content: "\0532";
} */

/* .fa-database {
  color: #000;
}
.fa-thermometer-half {
  color: #000;
}
.fa-clone {
  color: #8933ff;
}
.fa-bar-chart-o {
  color: #bd5ed9;
} */

/* {r: 19, g: 199, b: 163},
        {r: 0, g: 120, b: 255},
        {r: 137, g: 51, b: 255},
        {r: 189, g: 94, b: 217} */

.wrapper {
  width: 100%;
  height: 100vh;
  background: #ebecf0;
  /* background: linear-gradient(
      135deg,
      rgba(19, 199, 163, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      45deg,
      rgba(137, 51, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      225deg,
      rgba(0, 120, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      315deg,
      rgba(189, 94, 217, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ); */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 796px;
}
.wrapper.active {
  width: 100%;
  height: 100vh;
  background: #eee;
  background: linear-gradient(
      135deg,
      rgba(19, 199, 163, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      45deg,
      rgba(137, 51, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      225deg,
      rgba(0, 120, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      315deg,
      rgba(189, 94, 217, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  background: #000;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 796px;
}

/* Main Contents Box Style Code */
.dashboard {
  width: 90%;
  max-width: 1280px;
  height: 90%;
  /* background: linear-gradient(
    0deg,
    F0EEEF 0%,
    rgba(253, 247, 249, 1) 100%
  ); */
  background: #ebecf0;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff;

  /* box-shadow: 0 0 128px 0 rgb(0 0 0 / 10%), 0 32px 64px -48px rgb(0 0 0 / 60%); */

  border-radius: 30px;
  display: flex;
  padding: 12px;
  justify-content: space-between;
}
.dashboard > * {
  border-radius: 20px;
}

/* Header Contents Style Code */
header {
  width: 7%;
  height: 100%;
  /* background: linear-gradient(0deg, #000 0%, #000 100%); */
  /* background: linear-gradient(0deg, #13c7a3 0%, #0078ff 100%); */
  _background: F0EEEF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #ffffff;
  position: relative;
  /* border: 8px solid #fff; */
  border-radius: 20px;
  transition: all 0.3s;
  position: relative;
  z-index: 989;
}
/* header:hover {
  box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #ffffff;
} */
header h2 {
  width: 30px;
  height: auto;
  z-index: 999;
}
header h2 img {
  width: 100%;
}
header a {
  display: block;
  color: #000;
  /* color: #fff; */

  

  /* text-shadow: 0px 0px 10px #babecc; */
  /* background: linear-gradient(145deg, #000 0%, #000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
header .gnb {
  width: 100%;
}

/* header hover effect style code  */
#svg {
  position: absolute;
  max-height: 100px;
  width: 100%;
  margin: auto;
  display: block;
  top:0;
}
#path{
  position: absolute;
  max-height: 100px;
  width: 100%;
  margin: auto;
  display: block;
  top:0;
  transform: scale(0.025,0.025);
}
header .gnb li {
  position: relative;
  /* background: #fff; */
}
header .gnb li span {
  position: absolute;
  width: 80px;
  height: 80px;
  top:0;
  right: 0;
  transition: all 0.4s;
}


header .gnb li.active span{
  background: linear-gradient(90deg, #13c7a3 0%, #0078ff 100%);

    /* background-size: cover; */
    /* background: #fff; */
    /* clip-path:path("M80,0c0,8.68-7.91,17-17.29,17h-34c-32.53,0-32.53,46.59,0,46.59h34C72,63.59,80,71.87,80,80Z");
     */
     clip-path:path("M80,0 C 80, 7.68, 75, 17, 67, 18 H 29c-32.53,0-32.53,46.59,0,46.59h34C72,63.59,80,71.87,80,80Z");
}
header .gnb li:hover span {
  /* width: 100%; */
  /* clip-path:url(#path); */
  animation-name: svg;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  
  /* clip-path:path("M40,.07A8.73,8.73,0,0,1,31.4,8.6H15.93a11.56,11.56,0,0,0,0,23.12H31.4C36,31.82,40,35.47,40,40Z"); */
  /* clip-path:path("M40,0S40,8.5,31.35,8.5H15.82c-16.26,0-16.26,23.3,0,23.3H31.35C40,31.8,40,40,40,40Z"); */

}
header .gnb li.active a,
header .gnb li:hover a{
  color: #fff;
  /* color: #0078ff; */

  _text-shadow: 0px 0px 5px #000;
}
/* header .gnb li span.nav-top {
  width: 100%;
  height: 20%;
  top: 0;
  _right: 4px;
  background: #ebecf0;
  border-radius: 0 0 0 0;
  transition: all 0.4s;
}
header .gnb li span.nav-mid {
  width: 100%;
  height: 60%;
  background: #ebecf0;
  top: 50%;
  transform: translateY(-50%);
}
header .gnb li span.nav-effect {
  background: #fff;
  right: 0;
  width: 0;
  height: 60%;
  border-radius: 30px 0 0 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s;
}
header .gnb li span.nav-bottom {
  width: 100%;
  height: 20%;
  bottom: 0;
  _right: 4px;
  background: #ebecf0;
  border-radius: 0 0 0 0;
  transition: all 0.4s;
} */

header .gnb a {
  width: 100%;
  padding: 28px 0;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.4s;
  z-index: 999;

}
/* header .gnb li.active span.nav-top,
header .gnb li:hover span.nav-top {
  border-radius: 0 0 20px 0;
}
header .gnb li.active span.nav-effect,
header .gnb li:hover span.nav-effect {
  width: 83%;
}
header .gnb li.active span.nav-bottom,
header .gnb li:hover span.nav-bottom {
  border-radius: 0 20px 0 0;
}
header .gnb li.active a,
header .gnb li:hover a {
  color: tomato;
} */
header .sign-out {
  font-size: 20px;
  z-index: 999;
}
header #btn {
  width: 34px;
  height: 60px;
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  background: #ebecf0;
  box-shadow: inset 1px 1px 2px #babecc;
  z-index: 999;
}
header #btn > span {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background: #000;
  border-radius: 14px;
  margin-left: 50%;
  margin-top: 50%;
  top: 2px;
  left: -13px;
  position: relative;
  transition: all 0.4s;
}
header #btn:hover span {
  transform: scale(0.8, 0.8);
}
header #btn span.active {
  top: 18px;
}

/* Mobile Menu Icon Style code  */
.mobile-menu {
  display: none;
  width: 25px;
  height: 25px;
  position: relative;
  transition: all 0.3s;
}
.mobile-menu span {
  display: block;
  background: #000;
  position: absolute;
}
.mobile-menu span:nth-child(1) {
  width: 100%;
  height: 3px;
  top: 50%;
  transform: translateY(-50%);
}
.mobile-menu span:nth-child(2) {
  width: 3px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.mobile-menu.active {
  transform: rotate(135deg);
}

/* mobile-menu items style code */
.mobile-meun-items{
  position: absolute;
  background: #000;
  display: flex;
  width: 100%;
  left: 0;
  top: 100%;
  padding: 10px 20px;
  _flex-direction: column;
  z-index: 999;
  margin-top: 5px;
  border-radius: 20px;
  _border: 1px solid #ccc;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}
.mobile-meun-items.hide{
  animation:hide 0.4s 1;
  animation-fill-mode: forwards;
}
.mobile-meun-items.show{
  animation:show 0.4s 1;
  animation-fill-mode: forwards;
}

.mobile-meun-items li{ width: 25%; text-align: center; }
.mobile-meun-items a{
  color: #fff;
  font-size: 25px;
  display: block;
  padding: 15px 0;
}

/* Main Page Graph-ui Contents Style Code */
.graph-ui {
  width: calc(58% - 28px);
  height: 100%;
}
.graph-ui > div {
  width: 100%;
  height: 33.33%;
  border-radius: 20px;
}

.graph-ui div.intro {
  height: 100% !important;
  background-size: cover;

  color: #fff;

  position: relative;
  overflow: hidden;
}
.graph-ui div.intro .slide-box {
  padding: 40px 55px;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  _border: 8px solid #eee;
  border-radius: 20px;
  _box-shadow: inset 2px 2px 4px #133cce86, inset -2px -2px 4px #133cce86;
}
.graph-ui div.intro .slide-box:nth-child(1) {
  /* background: #f1c3ff; */
  background: url(/schedule/img/bg1.svg) no-repeat center center;
  background-size: cover;
}
.graph-ui div.intro .slide-box:nth-child(2) {
  background: url(/schedule/img/bg2.svg) no-repeat center center;
  background-size: cover;
}
.graph-ui div.intro .slide-box:nth-child(3) {
  background: url(/schedule/img/bg3.svg) no-repeat center center;
  background-size: cover;
}
.graph-ui div.intro .slide-box:nth-child(4) {
  background: url(/schedule/img/bg4.svg) no-repeat center center;
  background-size: cover;
}

.graph-ui div.intro h2 {
  font-size: 28px;
  text-transform: uppercase;
  _font-weight: 700;
  transform: translateY(25px);
  opacity: 0;
}
.graph-ui div.intro p {
  _font-size: 16px;
  _font-weight: 400;
  transform: translateY(25px);
  opacity: 0;
}
.graph-ui div.intro a {
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  padding: 7px 0;
  margin-top: 10px;
  width: 100px;
  transition: all 0.3s;
  font-size: 12px;
  transform: translateY(25px);
  opacity: 0;
}
.graph-ui div.intro a:hover {
  color: #000;
  background: #fff;
}
.graph-ui div.intro i {
  position: absolute;
  font-size: 150px;
  right: -20px;
  top: -5px;
  _opacity: 0.3;
  color: #ebecf0;
}

.graph-ui div.intro .slide-box.active h2 {
  animation: fade-up-01 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}
.graph-ui div.intro .slide-box.active p {
  animation: fade-up-01 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}
.graph-ui div.intro .slide-box.active a {
  animation: fade-up-01 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 1.3s;
}

.graph-ui > div.each-pofol {
  padding: 20px 0;
  _border: 0;
}
.graph-ui > div.each-pofol > div {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.graph-ui .each-pofol .each-title {
  width: 100%;
  height: 25%;
}
.graph-ui .each-pofol .each-title h3 {
  font-weight: 500;
  font-size: 23px;
  color: #555;
  font-family: 'EB Garamond', serif;
  margin-left: 10px;
}
.graph-ui .each-pofol .each-graph {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-between;
}
.graph-ui .each-pofol .each-graph div {
  height: 100%;
  _border: 1px solid #f7f7f7;
  border-radius: 20px;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  _box-shadow: 0px 0px 3px #babecc;
  background: #ebecf0;
  width: calc(25% - 10.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  transition: all 0.3s;
}

.graph-ui .each-pofol .each-graph div b {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
}
.graph-ui .each-pofol .each-graph div i {
  position: absolute;
  font-size: 45px;
  opacity: 0.1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: #000;
}
.graph-ui .each-pofol .each-graph div i.fa-database {
  color: #000;
}
.graph-ui .each-pofol .each-graph div i.fa-thermometer-half {
  color: #000;
}
.graph-ui .each-pofol .each-graph div i.fa-clone {
  color: #8933ff;
}
.graph-ui .each-pofol .each-graph div i.fa-bar-chart-o {
  color: #bd5ed9;
}

.graph-ui > div.total-pofol {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  background: #ebecf0;
  display: flex;
  transition: all 0.3s;
}
.graph-ui > div.total-pofol > div {
  height: 100%;
}
.graph-ui > div.total-pofol div.total-chart {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* .graph-ui > div.total-pofol div.total-chart h3 {
  font-weight: 300;
  margin-top: 15px;
}
.graph-ui > div.total-pofol div.total-txt {
  width: 60%;
  margin-top: 15px;
}
/* div.total-chart {
  padding: 10px 0;
} */
/* div.total-chart .percent {
  line-height: 0;
  font-size: 22px;
  font-weight: 600;
  color: #000;
} */
div.total-chart .chart {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.total-chart .percent {
  line-height: 0;
  font-size: 22px;
  font-weight: 600;
  color: #000;
}
div.total-chart .chart canvas {
  width: auto !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.total-txt {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.total-txt h3 {
  padding: 0 0 5px 0;
  border-bottom: 1px solid #babecc;
  font-weight: 600;
  font-size: 30px;
  color: #333;
  font-family: 'EB Garamond', serif;
}
div.total-txt p {
  font-weight: 300;
  font-size: 16px;
  padding: 10px 0;
}
div.total-txt button {
  border: none;
  background: #ebecf0;
  padding: 10px 0px;
  border-radius: 25px;
  _color: #000;
  width: 150px;
  box-shadow: 5px 5px 12px #babecc, -5px -5px 12px #fff;
  transition: all 0.3s;
}
div.total-txt button:hover {
  box-shadow: 3px 3px 5px #babecc, -3px -3px 5px #ffffff;
}
div.total-txt button.active {
  background: #fefefe;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff;
}
.graph-ui > div.total-pofol div.total-chart h3 {
  font-weight: 300;
  margin-top: 15px;
}
.graph-ui > div.total-pofol div.total-txt {
  width: 60%;
  _margin-top: 15px;
}
/* Table-ui Contents Style Code */
.table-ui {
  width: 35%;
  height: 100%;
  _background: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.table-ui > div {
  width: 100%;
  height: calc(50% - 8.5px);
  _border: 1px solid #f7f7f7;
  border-radius: 20px;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff;
  background: #ebecf0;
  padding: 30px 20px;
  overflow: hidden;
  overflow-y: auto;
}
/* .table-ui > div:hover {
  box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #ffffff;
} */
.table-ui > div::-webkit-scrollbar {
  display: none;
}
/* .table-ui>div.each-contents{margin-top: 10px;}
.table-ui .new-update{} */

.table-ui .tit-box,
.each-btns {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #babecc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.table-ui .tit-box p {
  font-size: 24px;
  font-weight: 400;
  color: #555;
  font-family: 'EB Garamond', serif;
}
.table-ui .tit-box a:hover {
  text-decoration: underline;
}
.table-ui .con-details li {
  display: flex;
  padding: 5px 0;
  align-items: center;
}
.table-ui .con-details {
  margin-top: 5px;
}
.table-ui .con-details li i {
  width: 50px;
  height: 50px;
  _border: 1px solid #babecc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  _color: #000;
  margin-right: 10px;
  box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #ffffff;
}
/* .table-ui .con-txt {
  width: 100%;
} */
.table-ui .each-contents .con-details li i {
  _color: #000;
}
.table-ui .con-txt p {
  color: #333;
  line-height: 1.4;
}
/* .table-ui .new-update .con-txt p a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
} */
.table-ui .con-txt p:hover {
  text-decoration: underline;
}
.table-ui .con-txt em {
  font-style: normal;
  font-size: 12px;
}
.table-ui .each-contents .each-btns button {
  width: calc(25% - 5px);
  display: block;
  background: #ebecf0;
  color: #888;
  padding: 10px 0;
  font-weight: 400;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 3px 6px #babecc, -3px -3px 6px #ffffff;
  text-align: center;
  transition: all 0.4s;
}
.table-ui .each-contents .each-btns button.active {
  _color: #000;
  background: #fefefe;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff;
  border: none;
  _text-shadow: inset 1px 1px 2px #000, inset -1px -1px 2px #000;
}

.graph-ui .title-box {
  width: 100%;
  height: auto;
}
.graph-ui .title-box h3 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #333;
  border-bottom: 1px solid #babecc;
  margin-bottom: 10px;
}

.graph-ui > div.input-box {
  width: 100%;
  height: calc(66.66% - 12px);
  border-radius: 15px;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff;
  background: #ebecf0;
  display: flex;
  margin-top: 12px;
  flex-direction: column;
  padding: 20px;
}

.graph-ui .input-box .input-tit {
  display: flex;
  justify-content: space-between;
}

.graph-ui .input-box .input-tit input {
  width: calc(65% - 12px);
  padding: 15px;
  border: none;
  border-radius: 25px;
  box-shadow: 5px 5px 12px #babecc, -5px -5px 12px #ffffff;
  background: #ebecf0;
  transition: all 0.3s;
}
.graph-ui .input-box .input-tit input:hover {
  box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #ffffff, 2px 2px 5px #72afff,
    -1px -1px 4px #72afff;
}
.graph-ui .input-box .input-tit input:focus {
  background: #fefefe;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff,
    inset 1px 1px 2px #72afff;
}
.graph-ui .input-box .input-tit select {
  width: 35%;
  border: none;
  outline: 0;
  padding: 10px 15px;
  border-radius: 20px;
  background: #ebecf0;
  box-shadow: 5px 5px 12px #babecc, -5px -5px 12px #ffffff;
  color: #333;
  transition: all 0.3s;
}
.graph-ui .input-box .input-tit select:hover {
  box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #ffffff, 2px 2px 5px #72afff,
    -1px -1px 4px #72afff;
}
.graph-ui .input-box .input-tit select:focus {
  background: #fefefe;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff,
    inset 1px 1px 2px #72afff;
}
.graph-ui .input-con textarea {
  width: 100%;
  border: none;
  outline: 0;
  padding: 20px;
  height: 250px;
  border-radius: 20px;
  margin-top: 12px;
  resize: none;
  color: #333;
  background: #ebecf0;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  box-shadow: 5px 5px 12px #babecc, -5px -5px 12px #ffffff;
  transition: all 0.3s;
}
.graph-ui .input-con textarea:hover {
  box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #ffffff, 2px 2px 5px #72afff,
    -1px -1px 4px #72afff;
}
.graph-ui .input-con textarea:focus {
  background: #fefefe;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff,
    inset 1px 1px 2px #72afff;
}
.graph-ui .btns {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 12px;
}
.graph-ui .btns button,
#updateBtn {
  outline: 0;
  border: none;
  border-radius: 20px;
  background: #ebecf0;
  box-shadow: 3px 3px 6px #babecc, -3px -3px 6px #ffffff;
  color: #333;
  padding: 10px 25px;
  transition: all 0.3s;
}
.graph-ui .btns button:hover {
  color: #fff;
  font-weight: bold;
  background: #000;
  box-shadow: inset 1px 1px 2px #0059ff, inset -1px -1px 2px #0099ff;
}
/* ----------------------------  */
/* 3. 모달 박스 css 작성 => index.js 135번줄 */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  _background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(255, 250, 250, 0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fafafa;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 25px;
  border-radius: 20px;
  box-shadow: inset 1px 1px 2px #fff, inset 1px 1px 2px #babecc,
    0px 10px 20px #babecc;
  border: 6px solid #fff;
  width: 40%; /* Could be more or less, depending on screen size */
  _height: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.modal-content .rate-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.modal-content .rate-form p {
  width: auto;
  height: calc(25% - 5px);
  display: flex;
  _padding: 0px 10px;
  justify-content: space-between;
  margin-bottom: 12px;
}
.modal-content .rate-form p label {
  padding: 14px 10px;
  display: flex;
  justify-content: center;
  width: 65%;
  color: #333;
  background: #fafafa;
  box-shadow: 3px 3px 4px #ededed, 3px 3px 4px #999, 3px 3px 4px #babecc;
  border-radius: 22px;
  _border: 1px solid #ccc;
  align-items: center;
}
.modal-content .rate-form p input {
  border: 1px solid #ccc;
  padding-left: 15px;
  outline: 0;
  border-radius: 22px;
  background: #fff;
  box-shadow: inset 2px 2px 5px #babecc, inset 2px 2px 5px #fff,
    3px 3px 4px #fff, 3px 3px 6px #babecc;
  width: calc(35% - 12px);
}
.modal-content .rate-form p input:focus {border: 1px solid #8933ff;}

#updateBtn {
  display: block;
  margin: 15px auto 0;
  border-radius: 20px;
}

/* Deail Page Style Code  */
.graph-ui.detail {
  width: calc(93% - 20px);
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.graph-ui.detail .total-pofol {
  height: 40%;
  width: calc(60% - 10px);
}
.graph-ui.detail .each-pofol {
  height: 40%;
  width: 40%;
  padding: 0;
}
.graph-ui.detail .each-pofol .each-graph {
  flex-wrap: wrap;
  height: 100%;
  align-content: space-between;
}
.graph-ui.detail .each-pofol .each-graph div {
  height: calc(50% - 5px);
  width: calc(50% - 5px);
}
.graph-ui.detail .each-pofol .each-graph div b {display: none;}
.graph-ui.detail .each-pofol .each-graph div i {display: block;}

.graph-ui.detail .detail-board {
  width: 100%;
  height: calc(60% - 10px);
  background: #ebecf0;
  _border: 1px solid #f7f7f7;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  padding: 30px 20px;
  overflow: hidden;
  overflow-y: auto;
  _max-height: 350px;
}
.graph-ui.detail .detail-board::-webkit-scrollbar {
  display: none;
}
.detail-board .board-btns {
  width: 100%;
  height: auto;
  display: flex;
}
.detail-board .board-btns a,
.board-table-btns .more-btn {
  border: none;
  background: #ebecf0;
  padding: 10px 0px;
  margin-right: 8px;
  border-radius: 25px;
  width: 150px;
  box-shadow: 5px 5px 12px #babecc, -5px -5px 12px #fff;
  transition: all 0.3s;
  text-align: center;
}
.detail-board .board-btns a:hover,
.detail-board .board-btns a.active,
.board-table-btns .more-btn:hover {
  background: #fefefe;
  box-shadow: 3px 3px 5px #babecc, -3px -3px 5px #fff;
}

.board-table {
  width: 100%;
  height: auto;
  margin: 10px 0;
}
.board-table ul {
  width: 100%;
  height: auto;
}
.board-table li {
  width: 100%;
  text-align: center;
  display: flex;
}
.board-table li.board-title span {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 0;
}
.board-table li.board-contents {border-bottom: 1px solid #f0f0f0;}
.board-table li.board-contents span {
  color: #555;
  padding: 10px 10px;
}
.board-table li:nth-child(odd) {background: #fff;}
.board-table li.board-contents span:nth-child(3) {justify-content: flex-start;}
.board-table li.board-contents span a {color: #555;}
.board-table li.board-contents span a:hover {text-decoration: underline;}

.board-table li.board-contents span a.del-btn {
  border: none;
  background: #000;
  color: #fff;
  padding: 3px 10px;
  font-size: 12px;
}
.board-table li.board-contents span a.del-btn.icon {display: none;}
.board-table li.board-contents button {
  border: none;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
}

.board-table li span {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-table li span:nth-child(1) {width: 10%;}
.board-table li span:nth-child(2) {width: 20%;}
.board-table li span:nth-child(3) {width: 40%;}
.board-table li span:nth-child(4) {width: 20%;}
.board-table li span:nth-child(5) {width: 10%;}

.board-table-btns {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 20px auto;
  width: 35px;
  height: 35px;
  _border: 1px solid #aaa;
  box-shadow: 6px 6px 12px #babecc, 6px 6px 12px #fff;
  border-radius: 18px;
  _margin-bottom: 20px;
}

.close:hover,
.close:focus {
  _border: 1px solid #333;
  box-shadow: 2px 2px 5px #babecc, 2px 2px 5px #fff;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

/* Detail View Page Style Code  */
.detail-view em{font-style: normal;}
.hidden-tit, .hidden-con{display: none;}
.board-view li span:nth-child(2) {width: 20%;}
.board-view li span:nth-child(1) {width: 10%;}
.board-view li span:nth-child(3) {width: 50%;}
.board-view li span:nth-child(4) {width: 20%;}